body {
	min-width:1000px;
	margin:0;
	padding:0;
	font-family: 'Trebuchet MS', 'Tahoma', sans-serif;
	font-size:18px;
	font-weight:bold;
	line-height:24px;
	color:#ffffff;
	background:#040231;
}

.left-column {
	margin-top:20px;
	float:left;
}

.left-column-item {
	width:150px;
	height:80px;
	border:10px solid #0f9dff;
	border-radius:150px / 90px;
	margin-bottom:25px;
}

.right-column {
	float:right;
}

.top-section:after {
	content:"";
	display:table;
	clear:both;
}