body {
	min-width:1000px;
	margin:0;
	padding:0;
	font-family: 'Trebuchet MS', 'Tahoma', sans-serif;
	font-size:18px;
	font-weight:bold;
	line-height:24px;
	color:#ffffff;
	background:#040231;
}

.left-column {
	margin-top:20px;
	margin-left:10px;
	float:left;
}

.left-column-item {
	width:150px;
	height:80px;
	border:10px solid #0f9dff;
	border-radius:150px / 90px;
	background:url("img/icon-sprite.png") no-repeat;
	margin-bottom:25px;
}

.exit {
	background-position: 8px 27px;
}

.message {
	background-position: 8px -39px;
}

.help {
	background-position: 8px -105px;
}

.right-column {
	float:right;
}

.top-section:after {
	content:"";
	display:table;
	clear:both;
}

.right-column-list {
	display:inline-block;
	list-style:none;
	font-size:20px;
	color:#e2702e;
	margin-right:40px;
	padding:0;
}

.right-column .numbers {
	text-align:right;
}

.right-column-list li:nth-child(1),
.right-column-list li:nth-child(6),
.right-column-list li:nth-child(11) {
	color:#ffffff;
} 

.question-field {
	height:130px;
	background-image:url("img/Lozenge.png");
	background-size: 100% 400%;
	background-position: 0 0;
}


.answer-block > div {
	height:80px;
	width:100%;
	display:inline-block;
	background-image:url("img/Lozenge.png");
	background-size: 50% 400%;
	background-position: 0 34%;
	margin-top:15px;
}

.answer-block > div:hover,
.answer-block > div:active {
	background-position: 0 67%;
	cursor:pointer;
}

.answer {
	text-align:center;
}

